#wpdrv-popup-header h1 {
    font-weight: normal;
    line-height: 1.3;
}

#wpdrivr-popup-wrap {
    display: none;
    width: 85%;
    margin: 0 auto;
}

#TB_window {
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#wpdrivr-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 1000px;
    margin: 28px auto;
    padding: 5px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 25px #000;
    -moz-box-shadow: 0 2px 25px #000;
    box-shadow: 0 2px 25px #000;
    -webkit-transition: max-width .2s;
    -moz-transition: max-width .2s;
    transition: max-width .2s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#wpdrivr-popup.api-key-pop {
    max-width: 610px;
}

#wpdrv-popup-header {
    padding: 0 30px;
}

.wpdrv-action-panel {
    padding: 20px 30px;
    background: #f5f5f5;
    border-top: 1px solid #ebebeb;
}

.wpdrv-upload-success {
    border-top: 1px solid #ebebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    min-height: 70px;
    margin: 20px 0 0;
    overflow: hidden;
    position: relative;
}

.wpdrv-upload-success:before {
    content: "";
    position: absolute;
    left: 268px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ebebeb;
}

.wpdrv-upload-success .wpdrv-inner {
    padding: 30px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    min-height: 235px;
}

.wpdrv-img-placeholder {
    background: url(../images/loading-spin.svg) no-repeat center center #3d464d;
    min-height: 225px;
    overflow: hidden;
    position: relative;
}

.wpdrv-img-placeholder img {
    max-width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wpdrv-main-advanced-options {
    color: #454545;
    word-wrap: break-word;
    text-align: center;
    width: 225px;
    display: inline-block;
    vertical-align: middle;
}

.v-align-dummy {
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}

.wp-core-ui .button#adv_options {
    float: right;
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    padding: 0 20px;
}

.wpdrv-main-advanced-options p {
    margin: 15px 0 3px;
}

.wpdrv-main-advanced-options span {
    font-size: 12px;
    color: #999;
}

input.input-group-text {
    padding: 5px 8px;
    height: 40px;
    min-width: 88%;
}

.wp-core-ui .button-primary.input-group-btn {
    padding: 5px 10px;
    height: 40px;
}

.wpdrv-advanced-options {
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.wpdrv-advanced-options h3 {
    margin-top: 0px
}

.wpdrv-advanced-options h3 span {
    color: #aaa;
    font-weight: normal;
}

.wp-core-ui .wpdrv-drop-btn.button-large {
    padding: 0 30px;
    height: 54px;
    line-height: 52px;
    font-size: 16px;
}

.wp-core-ui .wpdrv-drop-btn.button-medium {
    padding: 0 15px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
}

.text-center {
    text-align: center;
}


.hidden {
    display: none;
}

.clear {
    clear: both;
}

#drivr-form-tabs {
    list-style: none;
    margin: 0px;
    border: 1px solid #efefef;
    border-radius: 3px;
}

#drivr-form-tabs:after {
    clear: both;
    content: "";
    display: block;
}

.wpdrv-acc-title {
    color: #000;
    position: relative;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px 15px;
}

#drivr-form-tabs .disabled {
    color: #b6b6b6;
}

#drivr-icon {
    height: 100px;
    width: 75px;
    display: block;
    background: url(../images/document.png) no-repeat center center #fff;
    margin: 0 auto;
}

#drivr-icon.photo {
    background: url(../images/images.png) no-repeat center center #fff;
}

#drivr-icon.multiple {
    background: url(../images/multiplefiles.png) no-repeat center center #fff;
}

#drivr-icon.video {
    background: url(../images/video.png) no-repeat center center #fff;
}

#drivr-icon.audio {
    background: url(../images/audio.png) no-repeat center center #fff;
}

.wpdrv-acc-title#linkitem {
    border-top: 1px solid #efefef;
}

.wpdrv-col-50 {
    width: 50%;
    float: left;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wpdrivr-options {
    padding: 15px 0px 0;
    overflow: hidden;
    border-top: 1px solid #efefef;
}

.wpdrivr-options li {
    overflow: hidden;
    margin-bottom: 15px;
}

.wpdrivr-options label {
    float: left;
    width: 30%;
    margin: 5px 0 0;
    overflow: hidden;
}


.wpdrivr-options input[type="text"], .wpdrivr-options select {
    padding: 8px;
    height: 34px;
}


.wpdrivr-options label.no-style {
    width: auto;
    float: none;
    margin: 0;
}

.wpdrivr-options input.small-input {
    width: 80px;
    float: none;
}

.wpdrivr-options .input-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    margin: 0;
}


.wpdrivr-options textarea.input-item {
    height: 45px;
}

.wpdrivr-options select {
    margin: 0;
}

.clear-margin {
    margin-bottom: 10px;
}

a.removefile {
    font-size: 12px;
    text-transform: uppercase;
    color: #bc0b0b;
}

.wpdrv-popup #adminmenuwrap {
    z-index: 999;
}

.link-to-custom {
    display: none;
}

input#awsm-new-tab {
    margin-top: 0;
}


/*------------------- API KEY ---------------------*/

.wpdrv-api-key-main {
    background: #fff;
    max-width: 530px;
    margin: 0 auto;
    position: relative;
    color: #181818;
    padding: 50px;
}
.nokey-close{
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/icon-close.png) no-repeat center center;
    width: 20px;
    height: 20px;
    text-indent: -999999px;
}

.wpdrv-api-key-main img {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.wpdrv-api-key-main .wpdrv-api-key-content {
    overflow: hidden;
}

.wpdrv-api-key-main h3 {
    font-size: 24px;
    margin: 0 0 8px;
}


/*------------------- Loading overlay ----------------*/

.overlay-loading {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.overlay-loading.on {
    opacity: 1;
    visibility: visible;
}

.overlay-main {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
}

.dummy {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
}

.wpdrv-insert-opt {
    padding: 0 0 15px;
}

.wpdrv-insert-opt h4 {
    float: left;
    font-size: 16px;
    margin: 0;
}

.wpdrv-insert-opt img {
    float: right;
    max-height: 25px;
    width: auto;
}

.wpdrv-download-opt {
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
}

.wpdrv-download-opt.on {
    opacity: 1;
    visibility: visible;
}

.wpdrv-download-opt-inner {
    display: inline-block;
    width: 98%;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
}

.wpdrv-download-opt-inner h3 {
    font-size: 18px;
    margin-bottom: 35px;
    color: #000;
}

.wpdrv-download-opt-inner ul {
    overflow: hidden;
    margin-bottom: 30px;
}

.wpdrv-download-opt-inner li {
    display: inline-block;
}

.wpdrv-download-opt-inner li a {
    display: block;
    padding: 20px;
    min-width: 135px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #000;
    text-decoration: none;
}

.wpdrv-download-opt-inner li a:hover {
    border-color: #c2c2c2;
}

p.drivr-error {
    background: #ffd8d8;
    padding: 18px 30px;
    margin: 20px 0 -20px;
    font-size: 14px;
}

.drivr-loader {
    background: none!important;
}

.wpdvr-form-item .ui-sortable-helper {
    box-shadow: 4px 0px 17px #ddd;
}
.picker-dialog {
    z-index: 20000091 !important;
}
.picker-dialog-bg {
    z-index: 20000090 !important;
}
@media (max-width: 820px) {
    .wpdrv-col-50 {
        width: auto;
        float: none;
    }
}

@media (max-width: 600px) {
    .wpdrv-upload-success .wpdrv-inner {
        float: none;
        border-bottom: 1px solid #EBEBEB;
        min-height: 0;
        min-height: inherit;
    }
    .wpdrv-upload-success:before {
        display: none;
    }
    .wpdrv-main-advanced-options {
        display: block;
        margin: 0 auto;
    }
}